<% if not @juris.empty? %>
			<% @juris.each do |juri| %>
			<h3>
			<%= juri.orgao %>
			</h3>
			<p>
			<%= textilize juri.corpo %>
			</p>			
			<p>
			<b>Referência:</b>
			<%= textilize juri.ref %>
			</p>
			<hr class="thick" />
			<% end %>
<% else %>
	<p>Não foram cadastradas jurisprudências...</p>
<% end %>