<div class="row">
<% content_for :sidebar do %>
<div class="span4 pull-right"> 
<br/>
<p style="text-align: center"><%= image_tag("cnpq.png", :size => "200x100") %></p>
<br/>
<p style="text-align: center"><%= image_tag("uni.png", :size => "100x80") %></p>
</div>
<% end %>
<div class="span8">
<h2 style="text-align: center">[ <a>ARG.</a> ]</h2>
<p>
O Assistente de Argumentação Jurídica (ARG.) tem como objetivo principal auxiliar o <b>armazenamento, 
a produção e o aprimoramento de argumentos</b> utilizados no direito penal brasileiro. 
</p>
<p>
Os usuários deste sistema serão, principalmente, operadores do direitos na seara criminal e poderão <b>ler argumentos e armazená-los no sistema</b>, construindo, assim, 
a seu catálogo pessoal de argumentos. Este catálogo pode ser alterado e consultado conforme a necessidade do operador do direito, 
além da possibilidade de fornecer diferentes tipos de relatório. 
</p>
<p>
O operador do direito poderá também utilizar o sistema durante a redação de peças jurídicas.
</p>
<p>
Este módulo será resultado de uma pesquisa científica subsidiada por bolsa <b>PIBIC/CNPQ</b> que está em pleno vapor.
</p>
</div>	
</div>