<div class="row">
<div class="span8">
<h2 style="text-align: center">[ <a>ARG.</a> ]</h2>
<p>
O Assistente de Argumentação Jurídica (ARG.) terá como objetivo principal auxiliar o <b>armazenamento, 
a produção e o aprimoramento de argumentos</b> utilizados no direito (inicialmente) penal brasileiro. 
</p>
<p>
Os usuários deste sistema serão, principalmente, acadêmicos do curso de direito e poderão <b>ler argumentos e armazená-los no sistema</b>, construindo, assim, 
a seu catálogo pessoal. Este catálogo pode ser alterado e consultado conforme a necessidade do usuário. 
</p>
<p>
Futuramente, será possível utilizar o sistema para a redação de peças jurídicas.
</p>
<p>
Este módulo é um dos resultados de uma pesquisa científica subsidiada por bolsa <b>PIBIC/CNPQ</b> que está em pleno vapor.
</p>
<center><a class="btn btn-large btn-primary" href="http://argumentos.herokuapp.com" target="_blank">Confira a versão em desevenvolvimento</a><center/>
</div>
<% content_for :sidebar do %>
<div class="span4 pull-right"> 
<br/><br/>
<p style="text-align: center"><%= image_tag("cnpq.png", :size => "200x100") %></p>
<br/>
<p style="text-align: center"><%= image_tag("uni.png", :size => "100x80") %></p>
</div>
<% end %>	
</div>