<% content_for :sidebar do %>
<p style="text-align: center"><%= image_tag("cnpq.png", :size => "200x100") %></p>
<p style="text-align: center"><%= image_tag("uni.png", :size => "100x80") %></p>
<% end %>

<h2>ARG.</h2>
<br />

<p style="text-align: justify">
O Sistema Assistente de Argumentação Jurídica (ARG.) tem como objetivo principal auxiliar o armazenamento, 
a produção e o aprimoramento de argumentos utilizados no direito penal brasileiro. Os usuários deste sistema são, 
principalmente, operadores do direitos na seara criminal e poderão ler argumentos e armazená-los no sistema, construindo, assim, 
a seu catálogo pessoal de argumentos. Este catálogo pode ser alterado e consultado conforme a necessidade do operador do direito, 
além da possibilidade de fornecer diferentes tipos de relatório. 
O operador do direito pode também utilizar o sistema durante a redação de peças jurídicas.
</p>
<p style="text-align: justify;">
<b>Este módulo será resultado de uma pesquisa científica subsidiada por bolsa <strong>PIBIC/CNPQ</strong> e ainda está em desenvolvimento.</b>
</p>	