<% content_for :sidebar do %> 
<br/>
<br/>
<br/>
<div align="center">
<iframe src="http://www.dicio.com.br/widgets/blog.php?w=240" id="dicio_widget" name="dicio_widget" scrolling="no" frameborder="0" width="240" height="200"></iframe>
</div>
<% end %>

﻿<h2 style="text-align: center">[ <a>Dic.</a> ]</h2>
<p>
	Antes  de qualquer coisa, você conhece a teoria do crime? Se não, recomenda-se:
</p>
<table>
	<tr>
		<td><iframe width="300" height="220" src="http://www.youtube.com/embed/Jz1V5vA8PZw" frameborder="0" allowfullscreen></iframe></td>
		<td>
		<ul style="list-style: none">
			<li>
				[ <a href="http://youtu.be/FojYVgE4L_w" target="_blank">2ª aula</a> ]
			</li>
			<li>
				[ <a href="http://www.youtube.com/watch?v=d8Ce2uCoHxk" target="_blank">3ª aula</a> ]
			</li>
			<li>
				[ <a href="http://www.youtube.com/watch?v=WvRZcV62B60" target="_blank">4ª aula</a> ]
			</li>
			<li>
				[ <a href="http://www.youtube.com/watch?v=_FBitsb8Uao" target="_blank">5ª aula</a> ]
			</li>
		</ul></td>
	</tr>
</table>
<p>
	Abaixo, lista das expressões aqui usadas:
	[ Em construção ]
</p>