<% content_for :sidebar do %>
	<%= image_tag("just.jpg", :size => "300x280") %>
<% end %>

<h2>Importante!</h2>
<br />
<p>Esta ferramenta é para destinada para consultas rápidas e não substitui uma obra jurídica.</p>
<p>Ainda estamos <b>construindo</b>, mas sinta-se livre para mexer e contribuir.</p>
<p>Qualquer dúvida, crítica, elogio e/ou sugestão será apreciada com carinho.</p>
<p>Aquele que se interessar em ter a logomarca de seu escritório de advocacia ou de vincular publicidade de obra jurídica, por favor
	entre em <%=link_to "contato", new_contato_path%>.</p>