<% content_for :sidebar do %>
<p style="text-align: center">Em desenvolvimento...</p>
<% end %>

<h2>Repositório de Sentenças</h2>
<br />
<h3>Sentenças [ Construção ]: </h3>
<ul style="list-style: none">
	<li>Absolutórias</li>
	<li>Absolvição Sumária</li>
	<li>Condenatórias</li>
	<ul>
		<li>Ameaça</li>
		<li>Arma de Fogo</li>
		<li>Corrupção de Menores</li>
		<li>Furto</li>
		<li>Roubo</li>
			<ul>
			<li><a href="./assets/roubo.pdf" target="_blank">Roubo Impróprio</a></li>
			</ul>
		<li>Violência Doméstica</li>		
	</ul>
	<li>Extinção de Punibilidade</li>
</ul>