<% content_for :sidebar do %>
<p style="text-align: center">Em desenvolvimento...</p>
<% end %>
<h2 style="text-align: center">[ <a>Sobre</a> ]</h2>
<br/>
<p style="text-align: center">"Este é um ambiente voltado para acadêmicos e apaixonados pelo direito penal."</p>
<br/>
<h2 style="text-align: center">[ <a>Equipe</a> ]</h2>
<br/>
<h3>Nailton Gomes Silva | <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4450141Y0" target="_blank">Currículo Lattes</a></h3>
<p style="text-align: justify">Técnico em Informática pelo Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte/IFRN; Acadêmico do Curso de Direito do Centro Universitário do Rio Grande do Norte/UNI-RN;<br/> Bolsista de Iniciação Científica do PIBIC/CNPq.</p>
<p style="text-align: right">Desenvolvedor</p>
<br/>
<h3>José Eduardo de Almeida Moura | <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4794939D6" target="_blank">Currículo Lattes</a></h3>
<p style="text-align: justify">Doutor em Filosofia pela Universidade Estadual de Campinas/UNICAMP (1986).<br/> Professor do Centro Universitário do Rio Grande do Norte/UNI-RN.</p>
<p style="text-align: right">Orientador do <%= link_to "ARG.", arg_url %></p>
<br/>
<h3>Joseane Alves Pinheiro | <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4761932D3" target="_blank">Currículo Lattes</a></h3>
<p style="text-align: justify">Mestre em Sistemas e Computação pela Universidade Federal do Rio Grande do Norte/UFRN (2005).<br/> Professora do Centro Universitário do Rio Grande do Norte/UNI-RN.</p>
<p style="text-align: right">Orientadora do <%= link_to "ARG.", arg_url %></p>