<% content_for :sidebar do %>
<ul>
	<h2>Publicidade</h2>
	<ul>
		<li>
			<p style="text-align: center">
				<%= image_tag("publicadv.png", :size => "285x100") %>

				<%= image_tag("publicliv.png", :size => "285x200") %>
			</p>
		</li>
	</ul>
</ul>
<% end %>